*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #222;
    box-sizing: content-box;

}
.main {
    display:flex;
    flex-direction: column;
    gap: 12em;
}

.home {
    height:100vh;
    height: 100dvh;
    background-image: url(image/aboutme.jpeg);
}

#menu-btn{
cursor: pointer;
border: 1px solid rgb(183, 180, 180);
padding:10px;
}


.nav-menu > li > a ,li > a {
    text-decoration: none; 
    color: inherit;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0.1em;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.nav-menu {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    list-style-type: none;
}

li {
  padding: 20px;
  list-style: none;
}

.resume {
    display: flex;
    padding: clamp(10px,3vw,20px);
    gap: clamp(20px,3vw,30px);
    width: 90%;
    margin: auto;
}

.card-div{
    background-color: #333;
    box-shadow: 2px 3px 4px 4px gray;
    padding: clamp(10px,3vw,20px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: clamp(10px,3vw,20px);
}

.resume-div {
    display: flex;
    flex-direction: column;
    gap: clamp(10px,3vw,20px);
}

.about-me {
    width: 100%;
    display: flex;
    gap: clamp(30px,3vw,60px);
    align-items: center;
    border: 10px solid green;
}

.about-me-image {
    width: 50%;
}

.about-me-image {
    width: 50%;
    border: 2px solid yellow;
}

.aboutme-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: space-around;
    border: 3px solid gray;
    margin: clamp(10px,3vw,20px) auto;
    padding: clamp(10px,3vw,20px);
}
/* .about-me-image > img{
    border: 20px solid;
    width: 500px;
    height: auto;
}

.aboutme-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid gray;
    height: 500px;
} */

.mobile-view-header{
   display: none;
   height: 50px;
}


@media screen  and (max-width:800px){

    .resume {
        flex-direction: column;
    }

    /* #mobile-view-menu-list {
       height: 300px;
       transition: height 20s;
    } */

    .nav-menu {
        display: none;
    }

    .mobile-view-header{
        background-color: white;
        padding: 20px;
        display: block;
        /* height: 50vh;
        transition:height 5s */
    }

    .about-me {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        gap: clamp(30px,3vw,60px);
        align-items: center;
        border: 10px solid green;
    }
    
    
}